.life_game_title {
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.universe {
	display: inline-block;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}

.universeRow {
	line-height: 0;
	overflow: hidden;
}

.universeCell {
	display: block;
	float: left;
	width: 6px;
	height: 6px;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	&.alive {
		background: #00CA10;
	}
}

.controls {
	vertical-align: top;
	display: inline-block;
	margin-left: 10px;
}

.samples {
	vertical-align: top;
	display: inline-block;
	margin-left: 10px;
}